<p><center><h1>üí∂ Algorithme de d√©tection automatique de faux billets</h1></center></p>
<p><center><h1>Partie 1 - Analyse</h1></center></p>

**ONCFM - Organisation nationale de lutte contre le faux-monnayage** est une organisation publique ayant pour objectif de mettre en place des m√©thodes d'identification des contrefa√ßons des billets en euros.
Dans le cadre de cette lutte, nous souhaitons mettre en place un algorithme qui soit capable de diff√©rencier automatiquement les vrais des faux billets.

## Objectifs

Lorsqu'un billet arrive, nous avons une machine qui consigne l'ensemble de ses caract√©ristiques g√©om√©triques. Au fil de nos ann√©es de lutte, nous avons observ√© des diff√©rences de dimensions entre les vrais et les faux billets. Ces diff√©rences sont difficilement visibles √† l'oeil nu, mais une machine devrait sans probl√®me arriver √† les diff√©rencier.

Ainsi, il faudrait construire un algorithme qui, √† partir des caract√©ristiques g√©om√©triques d'un billet, serait capable de d√©finir si ce dernier est un vrai ou un faux billet.

<img src="../gfx/sep.jpg" alt="Barre">

## Chargement

***

In [3]:
# Chargement des librairies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.color_palette("colorblind")
sns.set_theme(style="darkgrid")

In [6]:
# Chargement des donn√©es
df = pd.read_csv("../data/billets.csv", sep=';')
df.head()

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
0,True,171.81,104.86,104.95,4.52,2.89,112.83
1,True,171.46,103.36,103.66,3.77,2.99,113.09
2,True,172.69,104.48,103.50,4.40,2.94,113.16
3,True,171.36,103.91,103.94,3.62,3.01,113.51
4,True,171.73,104.28,103.46,4.04,3.48,112.54

<img src="../gfx/sep.jpg" alt="Barre">

## Analyse descriptive

***

Les donn√©es sont compos√©es d'une variable cible : 
- **is_genuine**, d√©termine si le billet est vrai ou faux (true/false)

In [8]:
df['is_genuine'].value_counts()

is_genuine
True     1000
False     500
Name: count, dtype: int64

Le jeu de donn√©es est compos√© de 1000 vrais billets pour 500 faux billets.

Les donn√©es comportent √©galement 6 variables predictifs, correspondant aux dimensions g√©om√©triques des billets :
- **diagonal**, la diagonal du billet (en mm)
- **height_left**, la hauteur du billet mesur√©e sur le c√¥t√© gauche (en mm)
- **height_right**, la hauteur du billet mesur√©e sur le c√¥t√© droit (en mm)
- **margin_low**, la marge entre le bord inf√©rieur du billet et l'image de celui-ci (en mm)
- **margin_up**, la marge entre le bord sup√©rieur du billet et l'image de celui-ci (en mm)
- **length**, la longueur du billet (en mm)

In [7]:
df.describe()

,diagonal,height_left,height_right,margin_low,margin_up,length
count,1500.000000,1500.000000,1500.000000,1463.000000,1500.000000,1500.00000
mean,171.958440,104.029533,103.920307,4.485967,3.151473,112.67850
std,0.305195,0.299462,0.325627,0.663813,0.231813,0.87273
min,171.040000,103.140000,102.820000,2.980000,2.270000,109.49000
25%,171.750000,103.820000,103.710000,4.015000,2.990000,112.03000
50%,171.960000,104.040000,103.920000,4.310000,3.140000,112.96000
75%,172.170000,104.230000,104.150000,4.870000,3.310000,113.34000
max,173.010000,104.880000,104.950000,6.900000,3.910000,114.44000